public-hoist-pattern[]=*@eslint*
public-hoist-pattern[]=*@prettier*
public-hoist-pattern[]=*@jamsr-ui/types*
public-hoist-pattern[]=*@jamsr-ui/typescript-config*
public-hoist-pattern[]=*@jamsr-ui/eslint-config*
public-hoist-pattern[]=*@jamsr-ui/prettier-config*
public-hoist-pattern[]=*@jamsr-ui/tailwind-config*