@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #2e2e2e;
}
*::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 20px;
  border: 3px solid #2e2e2e;
}

:root {
  --fs-xs: clamp(0.72rem, -0.05vi + 0.74rem, 0.69rem);
  --fs-sm: clamp(0.8rem, 0.07vi + 0.78rem, 0.83rem);
  --fs-base: clamp(0.88rem, 0.23vi + 0.82rem, 1rem);
  --fs-md: clamp(0.96rem, 0.43vi + 0.85rem, 1.2rem);
  --fs-lg: clamp(1.06rem, 0.69vi + 0.89rem, 1.44rem);
  --fs-xl: clamp(1.16rem, 1.02vi + 0.91rem, 1.73rem);
  --fs-2xl: clamp(1.28rem, 1.44vi + 0.92rem, 2.07rem);
  --fs-3xl: clamp(1.41rem, 1.96vi + 0.92rem, 2.49rem);
  --fs-4xl: clamp(1.55rem, 2.61vi + 0.9rem, 2.99rem);
  --fs-5xl: clamp(1.71rem, 3.41vi + 0.85rem, 3.58rem);
}

.debug * {
  outline: 1px solid red;
}
