:root {
  --ui-background: #ffffff;
  --ui-background-secondary: #efefef;
  --ui-background-tertiary: #f4f5f7;
  --ui-background-inverse: #000000;

  --ui-foreground-50: #fafafa;
  --ui-foreground-100: #f4f4f5;
  --ui-foreground-200: #e4e4e7;
  --ui-foreground-300: #d4d4d8;
  --ui-foreground-400: #a1a1aa;
  --ui-foreground-500: #71717a;
  --ui-foreground-600: #52525b;
  --ui-foreground-700: #3f3f46;
  --ui-foreground-800: #27272a;
  --ui-foreground-900: #18181b;
  --ui-foreground-default: #1d1d1f;
  --ui-foreground-link: #0066cc;
  --ui-foreground-secondary: #6e6e73;
  --ui-foreground-tertiary: #86868b;
  --ui-foreground-inverse: #ffffff;

  --ui-divider-light: #f5f4f5;
  --ui-divider: #e9e8e9;
  --ui-divider-dark: #d1d0d1;

  --ui-focus: #006fee;

  --ui-overlay: #000000;

  --ui-content1-background: #ffffff;
  --ui-content1-foreground: #11181c;

  --ui-content2-background: #f4f4f5;
  --ui-content2-foreground: #27272a;

  --ui-content3-background: #e4e4e7;
  --ui-content3-foreground: #3f3f46;

  --ui-content4-background: #d4d4d8;
  --ui-content4-foreground: #52525b;

  --ui-default-50: #fafafa;
  --ui-default-100: #f4f4f5;
  --ui-default-200: #e4e4e7;
  --ui-default-300: #d4d4d8;
  --ui-default-400: #a1a1aa;
  --ui-default-500: #71717a;
  --ui-default-600: #52525b;
  --ui-default-700: #3f3f46;
  --ui-default-800: #27272a;
  --ui-default-900: #18181b;
  --ui-default-foreground: #000;
  --ui-default: #e4e4e7;

  --ui-primary-50: #e6f1fe;
  --ui-primary-100: #cce3fd;
  --ui-primary-200: #99c7fb;
  --ui-primary-300: #66aaf9;
  --ui-primary-400: #338ef7;
  --ui-primary-500: #006fee;
  --ui-primary-600: #005bc4;
  --ui-primary-700: #004493;
  --ui-primary-800: #002e62;
  --ui-primary-900: #001731;
  --ui-primary-foreground: #fff;
  --ui-primary: #006fee;

  --ui-secondary-50: #f2eafa;
  --ui-secondary-100: #e4d4f4;
  --ui-secondary-200: #c9a9e9;
  --ui-secondary-300: #ae7ede;
  --ui-secondary-400: #9353d3;
  --ui-secondary-500: #7828c8;
  --ui-secondary-600: #6020a0;
  --ui-secondary-700: #481878;
  --ui-secondary-800: #301050;
  --ui-secondary-900: #180828;
  --ui-secondary-foreground: #fff;
  --ui-secondary: #7828c8;

  --ui-success-50: #e8faf0;
  --ui-success-100: #d1f4e0;
  --ui-success-200: #a2e9c1;
  --ui-success-300: #74dfa2;
  --ui-success-400: #45d483;
  --ui-success-500: #17c964;
  --ui-success-600: #12a150;
  --ui-success-700: #0e793c;
  --ui-success-800: #095028;
  --ui-success-900: #052814;
  --ui-success-foreground: #000;
  --ui-success: #17c964;

  --ui-warning-50: #fefce8;
  --ui-warning-100: #fdedd3;
  --ui-warning-200: #fbdba7;
  --ui-warning-300: #f9c97c;
  --ui-warning-400: #f7b750;
  --ui-warning-500: #f5a524;
  --ui-warning-600: #c4841d;
  --ui-warning-700: #936316;
  --ui-warning-800: #62420e;
  --ui-warning-900: #312107;
  --ui-warning-foreground: #000;
  --ui-warning: #f5a524;

  --ui-danger-50: #fee7ef;
  --ui-danger-100: #fdd0df;
  --ui-danger-200: #faa0bf;
  --ui-danger-300: #f871a0;
  --ui-danger-400: #f54180;
  --ui-danger-500: #f31260;
  --ui-danger-600: #c20e4d;
  --ui-danger-700: #920b3a;
  --ui-danger-800: #610726;
  --ui-danger-900: #310413;
  --ui-danger-foreground: #ffffff;
  --ui-danger: #f31260;
}
