@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #2e2e2e;
}
*::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 20px;
  border: 3px solid #2e2e2e;
}

.debug * {
  outline: 1px solid red;
}

.hljs {
  background: transparent !important;
  padding: 0 !important;
}
